@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[#0C1821]
    font-mono;
}
header {
    @apply flex justify-center;
}
.nav-links {
    @apply text-[#CCC9DC];
}
.nav-links a {
    @apply hover:underline 
         hover:decoration-[#324A5f] 
           hover:decoration-2
           hover:underline-offset-2
           m-1;
}
h1 {
    @apply text-[#CCC9DC]
             ;
}
