---
const {myName, bio} = Astro.props;
---

<section class="bg-[#324A5F] opacity-85 p-4 rounded-lg shadow-md max-w-4xl mx-auto text-center mt-6">
    <h2 class="text-2xl font-semibold text-white">{myName}</h2>
    <p class="text-white mt-2">{bio}</p>
</section>
