---

---

<section class="bg-[#324A5F] opacity-85 p-6 rounded-lg shadow-md max-w-4xl mx-auto text-center mt-6">
    <h2 class="text-2xl font-semibold text-white">Lets Work Together</h2>
    <p class="text-white mt-2">Send me a message and I'll get back to you!</p>

    <form action="https://formspree.io/f/mnnjvogv" method="POST" class="mt-4">
        <input type="email" name="email" placeholder="Your Email" required
               class="w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#1B2A41]"/>

        <textarea name="message" placeholder="Your Message" required
                  class="w-full p-2 mt-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-[#1B2A41]"></textarea>

        <button type="submit"
                class="mt-4 bg-[#1B2A41] text-white px-6 py-3 rounded-lg shadow-md hover:bg-black transition">
            Send Message
        </button>
    </form>
</section>
