---
import { Icon } from 'astro-icon/components'
import Navigation from './Navigation.astro';
---
<header>
    <div class="container mx-auto p-1 flex justify-between items-center">
        <div class="flex items-center">
            <img src="/logo.svg" alt="Manny's Site" class="h-14 mr-3 transition-transform duration-300 hover:rotate-6 hover:scale-110" />
            <a href="/" class="text-xl font-bold transition-colors duration-300 hover:text-[#324A5f]">Manuel - Software Engineer</a>
        </div>
        <Navigation />
    </div>
</header>
