---
import { Icon } from 'astro-icon/components'
import Navigation from './Navigation.astro';
---
<header>
    <div class="container mx-auto p-1 flex justify-between items-center">
        <div class="flex items-center">
            <img src="/logo.svg" alt="Manny's Site" class="h-14 mr-3" />
            <a href="/" class="text-xl font-bold">Manuel - Software Engineer</a>
        </div>
        <Navigation />
    </div>
</header>
