---
import { Icon } from 'astro-icon/components'
import Navigation from './Navigation.astro';
---
<header>
        <Icon name="logo" size="40"/>
        <h1>Manuel Ramirez</h1>
    <nav>
        <Navigation />
    </nav>
</header>
