---
const links = [
    {name: "Home", href: "/"},
    {name: "Projects", href:"/projects"},
    {name: "Resume", href: "/siteResume.pdf", external: true},
];
---
<nav class="bg-[#1B2A41] text-[#CCC9DC]">
    <ul class="flex space-x-4">
        {links.map((link) => (
            <li>
                <a href={link.href}
                   class="hover:underline underline-offset-4 decoration-[#324A5F] decoration-2"
                   target={link.external ? "_blank" : "_self"}
                   rel={link.external ? "noopener noreferrer" : ""}>
                    {link.name}</a>
            </li>
         ))}
    </ul>
</nav>
