---
import { Icon } from 'astro-icon/components'
import Header from '../components/Header.astro';
import '../styles/tailwind.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<link rel="icon" href="/src/icons/favicon.svg">
	</head>
	<body>
        <Header />
        <main>
            <slot />
        </main>
	</body>
</html>
